.ContentBody {
    padding-left: 120px;
    padding-right: 120px;
}



.radioButtonList {
    list-style: none;
    margin: 0;
    padding: 0;
}



    .radioButtonList.horizontal li {
        display: inline;
    }



    .radioButtonList label {
        display: inline;
        padding: 5px;
    }



label {
    padding-left: 4px;
    margin-right: 8.2px;
}



td, th {
    padding: 5px !important;
}



.label10 {
    margin-left: -2.7px;
}



.ChecboxLabel {
    padding-top: 10px;
}

.ChecboxList {
    padding-bottom: 10px;
}

.InputBox {
    padding-bottom: 20px;
}

.InputBoxx {
    width: 100%;
    max-width: none;
    height: 35px;
}

p.PForPaludan {
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-weight: bold;  
}

p.HeaderText {
    font-size: 22px;
    line-height: 1;
}

p.HeaderTextH {
    font-size: 22px;
    line-height: 1;
}

.HeaderContent {
    padding-bottom: 40px;
}

.Logo {
    margin: 0 340px 10px;
    align-content: center;
}
span.tab {
    position: absolute;
    left: 50%;
}